/* Gruvbox Color Scheme */
@define-color thm_bg_status #3c383c;
@define-color thm_bg_dim    #252423;
@define-color thm_bg        #32302f;
@define-color thm_bg1       #3c3836;
@define-color thm_bg2       #504945;
@define-color thm_bg3       #504945;
@define-color thm_bg4       #665c54;
@define-color thm_term_bg   #1d2021;
@define-color thm_bg_alt    #3c3836;
@define-color thm_fg_dim    #a89984;
@define-color thm_fg        #ddc7a1;
@define-color thm_red       #ea6962;
@define-color thm_orange    #e78a4e;
@define-color thm_yellow    #d8a657;
@define-color thm_green     #a9b665;
@define-color thm_aqua      #89b482;
@define-color thm_blue      #7daea3;
@define-color thm_purple    #d3869b;

/* General Customization */
* {
    font-family: 'Symbols Nerd Font Mono', 'JetBrainsMono Nerd Font', monospace;
    font-weight: 900;
    font-size: 13pt;
}

window#waybar {
    background: transparent;
    color: @thm_fg;
}

/* General Style */
#idle_inhibitor,
#battery,
#pulseaudio,
#clock,
#backlight,
#bluetooth,
#network {
    border: 2px solid @thm_bg2;
    background: @thm_term_bg;
    margin: 0;
    padding: 4px 16px;
}

/* Idle Inhibitor */
#idle_inhibitor {
    margin-left: 5px;
    min-width: 20px;
}
#idle_inhibitor.activated {
    border-top: 2px solid @thm_red;
}
#idle_inhibitor.deactivated {
    color: @thm_bg4;
}

/* Workspaces */
#workspaces {
    background: @thm_term_bg;
    border: 2px solid @thm_bg2;
    padding: 0 4px;
}
#workspaces button {
    color: @thm_bg2;
    font-style: italic;
    margin: 0; 
    padding: 0 4px;
    border-radius: 0;
}
#workspaces button.focused {
    color: @thm_purple;
}
#workspaces button.urgent {
    color: @thm_red;
}

/* Battery */
#battery {
    border-top: 2px solid @thm_green;
    color: @thm_green;
}
#battery.charging {
    border-top: 2px solid @thm_blue;
    color: @thm_blue;
}
#battery.warning {
    border-top: 2px solid @thm_yellow;
    color: @thm_yellow;
}
#battery.critical {
    border-top: 2px solid @thm_red;
    color: @thm_red;
}

/* PulseAudio */
#pulseaudio.muted {
    color: @thm_bg4;
}

/* Tray */
#tray {
    border-right: 2px solid @thm_bg3;
    margin-right: 1px;
}
#tray widget > image {
    padding: 0 4px;
}

/* Bluetooth */
#bluetooth.disabled {
    color: @thm_bg2;
}
#bluetooth.on {
    border-top: 2px solid @thm_green;
}
#bluetooth.connected {
    border-top: 2px solid @thm_aqua;
}

/* Network */
#network.disabled, #network.disconnected {
    border-top: 2px solid @thm_red;
}
#network.linked, #network.wifi, #nework.ethernet {
    border-top: 2px solid @thm_green;
}

/* Music Player */
#music {
    border: 2px solid @thm_bg2;
    background: @thm_term_bg;
    padding: 4px 12px;
}
#custom-logo.Playing {
    color: @thm_green;
}
#custom-logo.Paused {
    color: @thm_yellow;
}
#custom-logo.Stopped {
    color: @thm_bg2;
}
#mpris.prev {
    border-left: 2px solid @thm_bg2;
    padding: 0 6px;
    padding-left: 12px;
    margin-left: 12px;
}
#mpris.control, #mpris.next {
    padding: 0 6px;
}
#mpris.info {
    border-left: 2px solid @thm_bg2;
    padding: 0 12px;
    margin-left: 6px;
}

/* Custom Hardware Menu */
#hardware {
    border: 2px solid @thm_bg2;
    background: @thm_term_bg;
    padding: 4px 12px;
}
#cpu, #load, #memory {
    padding-right: 12px;
    border-right: 2px solid @thm_bg2;
}
#cpu, #memory, #load, #disk {
    margin: 0 6px;
}
#disk {
    border-right: 2px solid @thm_bg2;
    padding-right: 12px;
    margin-right: 12px;
}

/* Custom Power Menu */
#menu {
    border: 2px solid @thm_bg2;
    background: @thm_term_bg;
    margin-right: 5px;
    padding: 4px 12px;
}
#custom-reboot,
#custom-lock,
#custom-quit,
#custom-logout,
#custom-power {
    margin: 0 6px;
}
#custom-reboot {
    border-right: 2px solid @thm_bg2;
    padding-right: 12px;
}
