/* Gruvbox Color Scheme */
@define-color thm_bg_status #3c383c;
@define-color thm_bg_dim    #252423;
@define-color thm_bg        #32302f;
@define-color thm_bg1       #3c3836;
@define-color thm_bg2       #504945;
@define-color thm_bg3       #504945;
@define-color thm_bg4       #665c54;
@define-color thm_term_bg   #1d2021;
@define-color thm_bg_alt    #3c3836;
@define-color thm_fg_dim    #a89984;
@define-color thm_fg        #ddc7a1;
@define-color thm_red       #ea6962;
@define-color thm_orange    #e78a4e;
@define-color thm_yellow    #d8a657;
@define-color thm_green     #a9b665;
@define-color thm_aqua      #89b482;
@define-color thm_blue      #7daea3;
@define-color thm_purple    #d3869b;

/* General Customization */
* {
    font-family: 'Symbols Nerd Font Mono', 'JetBrainsMono Nerd Font', monospace;
    font-weight: 900;
    font-size: 11pt;
}

window#waybar {
    color: @thm_fg;
    background: @thm_term_bg;
}

#idle_inhibitor,
#workspaces,
#pulseaudio,
#clock,
#bluetooth,
#network,
#menu,
#hardware {
    padding: 0 6px;
    margin: 4px 0px;
}

/* Idle Inhibitor */
#idle_inhibitor {
    margin: 4px 2px;
}
#idle_inhibitor.activated {
    color: @thm_red;
}
#idle_inhibitor.deactivated {
    color: @thm_bg2;
}

/* Workspaces */
#workspaces button {
    border: none;
    border-radius: 0;
    box-shadow: none;
    background: none;
    padding: 0 4px;
    color: @thm_bg2;
    text-shadow: none;
    transition: none;
    -gtk-icon-shadow: none;
    -gtk-icon-effect: none;
}
#workspaces button.active {
    color: @thm_green;
}
#workspaces button:hover {
    background: @thm_bg_status;
}

/* Volume */
#pulseaudio.muted {
    color: @thm_bg2;
}
#pulseaudio.bluetooth {
    color: @thm_blue;
}

/* Tray */
#tray {
    margin: 8px 4px;
    padding: 0 8px;
    border-right: 2px solid @thm_fg_dim;
} 

/* Bluetooth */
#bluetooth.disabled,
#bluetooth.no-controller,
#bluetooth.off {
    color: @thm_bg2;
}
#bluetooth.on {
    color: @thm_green;
}
#bluetooth.connected {
    color: @thm_blue;
}

/* Network */
#network.disabled, #network.disconnected {
    color: @thm_red;
}
#network.linked, #network.wifi, #network.ethernet {
    color: @thm_green;
}

/* Hardware */
#cpu, #load, #memory, #disk {
    border-right: 2px solid @thm_bg2;
    padding: 0 8px;
}
#disk {
    border-right: 2px solid @thm_bg2;
    margin-right: 8px;
}

/* Menu */
#custom-reboot,
#custom-sleep,
#custom-lock,
#custom-quit {
    padding: 0 3px;
}
#custom-reboot {
    margin-right: 3px;
}
